<% provide :title, @user.username %>
<div class="row">
  <aside class="col-md-4">
    <section class="user-info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.username %>
      </h1>
    <section class="stats">
      <%= render "shared/stats" %>
    </section>
  </aside>
  <div class="col-md-8">
    <%= render "follow_form" if logged_in? %>
  </div>
</div>
<div>
  <table class="request">
    <thead>
      <tr>
        <th><%= t "stt" %></th>
        <th><%= t "title_book" %></th>
        <th><%= t "author" %></th>
        <th><%= t "image" %></th>
        <th><%= t "action" %></th>
      </tr>
    </thead>
    <tbody>
      <% @requests.each_with_index do |request, index| %>
        <tr>
          <td>
            <% params[:page] ||= Settings.params_page %>
            <%= index_continue params[:page], index, Settings.per_page %>
          </td>
          <td><%= request.book.title %></td>
          <td><%= request.book.author %></td>
          <td><%= image_tag request.book.image.url if request.book.image? %></td>
          <td>
            <%= link_to t("delete"), request_path(request.id),
               method: :delete, data: { confirm: t("sure") } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%= will_paginate @requests %>
